.coinster-select {
	border: solid 1px;
    border-radius: 0;
    height: 30px;
    border: solid 1px #222;
    background-color: #60dbfb;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
}